{% include 'head.html' %}

<body>
    <script src="{{ url_for('static', filename='signout.js') }}" async defer></script>
    {% include 'navbar_blank.html' %}
    <div class="container-fluid pt-4 mr-3">
        <h1 class="mb-4 text-center">Select a product to edit</h1>
        <div class="d-flex justify-content-center mb-4">
            <a href="{{ url_for('adminAddProduct') }}" class="btn btn-outline-success">Add new item</a>
        </div>
        {% for id, product in products %}

        <div class="d-flex flex-row justify-content-around mb-3">
            <a class=" px-5 btn btn-outline-primary d-flex flex-row bd-highlight justify-content-around mb-3 text-reset col-10 mx-1"
                href="/admin/updateProduct/{{id}}">
                <div class="p-2">{{ product['productName'] }}</div>
                <div class="p-2 ">£{{ product['price'] }}</div>
                <div class="p-2 ">Quantity: {{ product['quantity'] }}</div>
            </a>
            <a href="/admin/deleteProduct/{{id}}"
                class="btn btn-danger px-5 d-flex flex-row bd-highlight justify-content-around mb-3 col-2 mx-1">Delete
                Item</a>
        </div>
        {% endfor %}
    </div>